.yellowStar {
  color: yellow;
  font-size: 30px;
}
.noneStar {
  color: black;
  font-size: 30px;
}

.commentInput {
  // display: flex;
  justify-content: center;
  // background-color: skyblue;
  border-radius: 1px solid black;
}